# Proguard rules that are applied to your test apk/code.
-keepattributes *Annotation*

-dontnote junit.framework.**
-dontnote junit.runner.**

-dontwarn android.test.**
-dontwarn android.support.test.**
-dontwarn org.junit.**
-dontwarn org.hamcrest.**
-dontwarn com.squareup.javawriter.JavaWriter

-keep class com.amaze.trashbin.**
# Uncomment this if you use Mockito
#-dontwarn org.mockito.**
-dontwarn java.lang.management.**

# Prevent R8 from stripping Kotlin StdLib classes used by tests
-dontwarn kotlin.**
-dontwarn kotlinx.**
-keep class kotlin.** { *; }
-keep class kotlinx.** { *; }

# Keep AndroidX test classes
-keep class androidx.test.** { *; }
-keep class androidx.test.platform.** { *; }

# If you use Mockito or other reflection-heavy test libs, keep them too
-keep class org.mockito.** { *; }
-keep class ch.qos.logback.core.** { *; }
-keep class ch.qos.logback.classic.** { *; }

# Optional: Keep generic signatures to prevent "ClassCastException" in tests
-keepattributes Signature
-keepattributes *Annotation*